.accordion{
    &__tab{
        width: 35rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;

        & > *{
            width: 100%;
            font-size: 1.5rem;
            
            &:first-child{
                padding: 1rem 1.5rem;
            }
        }

        &--title{
            background-color: #F8F8F8;
            color: #717171;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            text-transform: uppercase;
        }
    
        &--content{
            height: 0rem;
            display: flex;
            justify-content: center;
            flex-direction: column;
            background-color: #F6EBD5;
            text-transform: uppercase;
            visibility: hidden;
            opacity: 0;
            transition: all .2s ease;

            & > *{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                padding: 0 1rem;
                margin-top: .5rem;

                & > *{
                    &:last-child{
                        text-align: end;
                        justify-self: flex-end;
                    }
                }
            }

            &.active{
                height: 7rem;
                visibility: visible;
                opacity: 1;
            }

            &--title{
               font-weight: 500; 
               text-transform: uppercase;
            }

            &--info{
                width: 2rem;
            }
        }
    }
}